[submodule "garmin-fetch-data/garmin-grafana"]
	path = garmin-fetch-data/garmin-grafana
	url = https://github.com/arpanghosh8453/garmin-grafana
[submodule "friday"]
	path = friday
	url = git@github.com:arturgoms/friday.git
