services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    env_file:
      - .env
    volumes:
      - open-webui:/app/backend/data
    ports:
      - 8010:8080
    environment:
      - 'OLLAMA_BASE_URL=http://192.168.1.18:8080'
      - 'WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}'
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chat.entrypoints=http"
      - "traefik.http.routers.chat.rule=Host(`chat.arturgomes.com`)"
      - "traefik.http.middlewares.chat-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.chat.middlewares=chat-https-redirect"
      - "traefik.http.routers.chat-secure.entrypoints=https"
      - "traefik.http.routers.chat-secure.rule=Host(`chat.arturgomes.com`)"
      - "traefik.http.routers.chat-secure.tls=true"
      - "traefik.http.routers.chat-secure.service=chat"
      - "traefik.http.services.chat.loadbalancer.server.port=8080"
      - "traefik.docker.network=exposed"
    networks:
      exposed:


volumes:
  open-webui: {}

networks:
  exposed:
    external: true

