/* Custom styles */

/* Make profile picture larger and add spacing */
.about__logo {
    height: auto;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
    padding-right: 10px;
}

.aside__about .about__title {
    display: block;
    margin-top: 0.5rem;
}
