@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

// Fix mobile hamburger menu staying on screen
@media all and ($mobile) {
  .explorer.collapsed .mobile-explorer {
    position: relative;
    z-index: 1;
  }

  .explorer:not(.collapsed) .mobile-explorer {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 101;
  }
}


// Prevent long titles from wrapping in the sidebar explorer and backlinks
.explorer-ul li > a,
.explorer-ul .folder-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backlinks ul.overflow li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
